.CFUserTextEncoding
.DS_Store
.Trash/
.android/
.bash_history
.bundler/
.codeintel/
.config/
.cups/
.dropbox/
.dvdcss/
.gem/
.gemrc
.gitk
.guard_history
.irb-history
.local/
.mysql_history
.pow
.powconfig
.rdebug_hist
.rnd
.rvm/
.ssh/
.vim/
.viminfo
.zprofile
.zshenv
Chrome
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Samsung/
rails_projects/
bin/subl
projects/
.cache/
.docker/
.mkshrc
.oh-my-zsh/
.p10k.zsh
.profile
.quokka/
.vscode/
.zcompdump*
.zlogin
.zsh_history
.zsh_sessions/
.zshrc-temp/
Applications/
zlogin
.*
dev/